/*
 * Footer css File
*/

.Footer {
font-size: 2rem;
    display: flex;
    margin-top: 100%;
    bottom: 0%;
    margin-bottom: 0%;
    height: 40%;
    width: 100%;
    background-color: red;
    clear: both;
    /* propertys here */
}